<div class="d-flex flex-column bg-warning flex-grow-1 h-100">
  <div class="d-flex flex-row p-5">
    <app-bookmark-form class="bg-white flex-grow-1 p-5 rounded shadow"></app-bookmark-form>
  </div>
  <div class="d-flex flex-column p-5">
    <app-bookmark-table class="bg-white flex-grow-1 p-5 rounded shadow"></app-bookmark-table>
  </div>
</div>
<ngx-spinner
  name="appSpinner"
  fullScreen="true"
  type="ball-pulse"
  bdColor="#869ca7"
  bdOpacity=0.9
  color="#159c78"
  size="large">
</ngx-spinner>
